// Type
@font-face {
  font-family: 'Apercu Mono';
  src: url("/type/apercu-mono-webfont.eot");
  src: url("/type/apercu-mono-webfont.eot#iefix") format('embedded-opentype'),
     url("/type/apercu-mono-webfont.woff") format('woff'),
     url("/type/apercu-mono-webfont.ttf") format('truetype'),
     url("/type/apercu-mono-webfont.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

$Apercu: "Apercu Mono", Monaco, monospace;

$blue: #2301DD;
$magenta: #FF00E0;
$yellow: #F2FF12;
$white: #efefef;
$black: #222222;

::selection {
  background-color: $yellow;
  color: $black;
}

body {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: $Apercu;
  line-height: 1.45;
}

.frame {
  width: 100%;
  max-width: 64rem;
}

header {
  padding: 0 2rem;
  margin-bottom: 3.5rem;

  a {
    border-bottom: 1px solid $blue;
    color: $blue;
    transition: color 50ms ease-out, background-color 100ms ease-out;
    &:hover {
      background-color: $magenta;
      color: $white;
      border-bottom: 1px solid $magenta;
    }
    text-decoration: none;
  }

  img {
    display: block;
    height: 32px;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    transition: background-color 10ms ease-out;

    &:hover {
      background-color: $blue;
    }
  }

  h1 {

    color: $blue;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 0.75rem;
    a {
      text-decoration: none;
      border-bottom: 2px solid $blue;
    }
  }

  p {
    color: $black;
    font-size: 13px;
  }
}

.overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    border-bottom: 1px solid $blue;
    color: $blue;
    transition: color 50ms ease-out, background-color 100ms ease-out;
    &:hover {
      background-color: $magenta;
      color: $white;
      border-bottom: 1px solid $magenta;
    }
    text-decoration: none;
  }

  section {
    box-sizing: border-box;
    color: $black;
    font-size: 13px;
    margin-bottom: 2rem;
    padding: 0 2rem;
    width: 50%;

    h2 {
      color: $blue;
      font-size: 13px;
      margin-bottom: 0.75rem;
    }
    li {
      margin-bottom: 0.75rem;

      .title {
        display: flex;
        flex-direction: row;

        span {
          color: #888;
          font-size: 10px;
          margin-left: 0.5rem;
          margin-top: 3px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.project {
  display: flex;
  flex-direction: row;

  h2 {
    color: $blue;
    font-size: 13px;
    margin-bottom: 0.75rem;
  }
  header {
    padding: 0 0 0 2rem;
  }
  .deets {
    width: 240px;
    date {
      color: #888;
      font-size: 11px;
      text-transform: uppercase;
    }
    p {
      font-size: 11px;
      margin-bottom: 0.25rem;
      a {
        border-bottom: 1px solid $black;
        color: $black;
        &:hover {
          background-color: $blue;
          color: $white;
          border-bottom: 1px solid $blue;
        }
        text-decoration: none;
      }
    }
  }
  article {
    padding: 0 2rem 0 0;
    p {
      font-size: 13px;
      margin-bottom: 1rem;
    }
  }
}
