.project
  header.meta
    h2 Project / Keyp
    .deets
      date WIP
      p
        a(href="https://txtapp.io/") Site
        | &nbsp;/&nbsp;
        a(href="https://github.com/shibacomputer/txt/") Repo
      p: a(href="https://are.na/") Research

  article
    p For many, choosing a text editor is a deeply personal experience. It should be – a text editor is essential to anyone who writes with their laptop. Hundreds exist online, offering discerning writers different interfaces, features and syncing methods.

    p Of course, each app comes with tradeoffs. Some rely on non-private syncing platforms like Dropbox and some use proprietary syncing platforms. Many sync unencrypted or through methods that can be accessed remotely. The more private text editors are more difficult to use, or wrap up a writer’s library of notes in weird formats.

    p Writing should be easy and private. Keyp is both.

    h3 Writing vibrantly
    p In a sea of minimalist text editors, Keyp is vibrant. From setup to daily writing, Keyp’s brand and aesthetic are designed to appeal to writers looking to switch without becoming a distraction.

    p Keyp has a dark theme by default, designed to minimise fatigue on a writer’s eyes. A secondary light theme is also available. Both are built based on user research and feedback, and look great across different platforms.

    h3 Simple, portable encryption

    p Keyp uses off the shelf encryption and a basic directory tree on your hard-drive to manage and store your files. After selecting a working directory, each document is encrypted and stored via PGP. This approach means that your text is liberated from Keyp, can be stored anywhere you like, can be decrypted via other PGP tools, or modified using any text editor.

    p Images associated with a piece of writing are automatically encrypted and bundled alongside the text. This invisible asset management means a writer can focus on writing text and storing assets without having to manage anything.

    p Available for testing in the next few months.
