doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Cade: human computer interaction.
    base(href="/")
    meta(name='description' content='#{meta.desc}')
    meta(name='robots' content='index, follow, noodp')

    //Viewport setup
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
    link(rel='stylesheet' href='/assets/styles/cade.css')
    link(rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico")
  body(class="loc-#{ current.path[0] }" id="#{ current.path.join('-') }")
    include _partials/header
    != yield
    script(src='/assets/js/cade.js')
