doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Cade: human computer interaction.
    base(href="/")
    meta(name='description' content='#{description}')
    meta(name='robots' content='index, follow, noodp')

    //Viewport setup
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
    link(rel='stylesheet' href='/assets/styles/cade.css')
    link(rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico")
  body(class="loc-#{ current.path[0] }" id="#{ current.path.join('-') }")
    include _partials/header
    div(uiPositioner)
      section(uiWindow)
        div(uiBox="lined")
          p Cade is a designer &amp; researcher who focuses on emergent technology, privacy, user empowerment, computer art and expression of the self. He has led projects in Australia, Singapore, Japan and the US.
          p His practice is forged in socially conscious, sensitive and humane design, creating work that helps others embrace the joy of the electric world.
          p: a(href="ccd_2016_cv.pdf").cv-link View CV
        ul(uiOptions)
          li(uiWork)
            a(href="#")
              h2 Work
              p Design Lead, SpiderOak
          li(uiText)
            a(href="#")
              h2 Text
              p This is a test to see how long a piece of text can go for.
      include _partials/contacts
    script(src='/assets/js/cade.js')
