div(uiPositioner)
  include _partials/contacts

  section(uiWindow style="margin-bottom: 2rem;")
    div(uiBox="lined")
      p Cade is a designer &amp; researcher who works at the crossroad of governance &amp; policy, user experience, privacy &amp; encryption and emergenent technologies. He has led projects in Australia, Singapore, Japan and the US.
      p His practice is forged in socially conscious, sensitive and humane design, creating work that helps others embrace the joy of the electric world.
    div(uiOptions)
      a(uiWork href="mailto:cade@shiba.computer")
        h2 Freelance
        p Available for hire.
      a(uiText href="https://www.are.na/shiba-computer/projects-1469543857")
        h2 Documentation
        p A collection of work in privacy, new finance, encryption and art.

  section(uiWindow)
    div(uiOptions)
      a(uiPress href="https://theintercept.com/2016/11/12/surveillance-self-defense-against-the-trump-administration/")
        h2 Press
        h2 The Intercept
        p Surveillance Self-Defense against the Trump Administration
      a(uiPress href="http://www.dailydot.com/layer8/semaphor-spideroak-collaboration-security/")
        h2 Daily Dot
        p This Snowden-approved cybersecurity company wants to build a better Slack
      a(uiPress href="http://www.inc.com/travis-wright/a-secure-slack-alternative-that-edward-snowden-would-love.html")
        h2 Inc / Layer 8
        p A Secure Slack Alternative that Edward Snowden Would Love
