.overview
  section
    h2 Projects
    ul
      li
        .title
          h3
            a(href="https://txtapp.io") Keyp
          span WIP
        .desc
          p A lightweight, intuitive and private writing tool.
      li
        .title
          h3
            p SpiderOak (Link Soon)
          span 2017
        .desc
          p Design leadership for one of the world's most trusted encryption providers.
      li
        .title
          h3
            p Semaphor (Link Soon)
          span 2016
        .title
          h3
            a(href="https://itunes.apple.com/us/app/encryptr/id1066041348?mt=8") Encryptr
          span 2016
        .title
          h3
            a(href="https://play.google.com/store/apps/details?id=io.crypton.statusapp&hl=en") Kloak
          span 2015
        .desc
          p Design responsibility for SpiderOak's suite of private communication and storage apps, in collaboration with business, activists and Carnegie Mellon University.
      li
        .title
          h3
            a(href="https://github.com/WhisperSystems/Signal-iOS") Signal
          span 2015
        .desc
          p Research project with Open Whisper Systems on a popular encrypted messenger app.
      li
        .title
          h3
            a(href="https://coinjar.com") CoinJar
          span 2015
        .desc
          p Design leadership for a successful cryptocurrency startup.
      li
        .title
          h3
            a(href="http://metaversenails.com") Metaverse Makeovers™
          span 2014
        .desc
          p Design &amp; branding for an Shanghai-based augmented reality fashion label and startup.
      li
        .title
          h3
            a(href="http://web.archive.org/web/20131231180412/http://www.bitcoins.com:80/") Bitcoins.com
          span 2013 - ARCHIVED
        .desc
          p One of the first truly easy-to-understand guides to cryptocurrency, commissioned by the most popular bitcoin startup at the time.

  section
    h2 Talks
    ul
      li
        .title
          h3
            a(href="https://www.cryptoparty.in/sydney") Cryptoparty Sydney
          span 2016
        .desc
          p “Not all chat apps are created equal”
      li
        .title
          h3
            p Secure Development Mel. (Link Soon)
          span 2016
        .desc
          p “Design as Information Security”
      li
        .title
          h3
            a(href="https://vimeo.com/160794578") SpiderOak Video
          span 2016
        .desc
          p “Take Back Your Privacy”

      li
        .title
          h3
            a(href="https://www.meetup.com/en-AU/The-Digital-Designers-Toolbox/events/231210823/") The Digital Designers' Toolbox
          span 2016
        .desc
          p “Nervous Design: Building Trust Into Interfaces”
      li
        .title
          h3
            a(href="http://www.pausefest.com.au") Pause Fest
          span 2015
        .desc
          p “New Models for Online Trust”

  section(style="margin-bottom: 4rem;")
    h2 Elsewhere
    p
      a(href="https://github.com/shibacomputer" target="_blank") GitHub
      |&nbsp;/&nbsp;
      a(href="https://twitter.com/helveticade" target="_blank") Twitter
      |&nbsp;/&nbsp;
      a(href="https://instagram.com/wellness.corp" target="_blank") Photography
      |&nbsp;/&nbsp;
      a(href="https://are.na/shiba-computer/" target="_blank") Research

