.overview
  section
    h2 Projects
    ul
      li
        .title
          h3
            a(href="#") Keyp
          span WIP
        .desc
          p A secure writing app that respects your work by keeping it safe and accessible only to you.
      li
        .title
          h3
            a(href="#") Choui
          span WIP
        .desc
          p A collection of JavaScript UI components built for Choo framework.
      li
        .title
          h3
            a(href="#") SpiderOak.com
          span 2017
        .desc
          p Brand and design leadership for one of the world's most trusted encryption providers.
      li
        .title
          h3
            a(href="#") Semaphor
          span 2016
        .title
          h3
            a(href="#") Encryptr
          span 2016
        .title
          h3
            a(href="#") Kloak
          span 2015
        .desc
          p Design responsibility for SpiderOak's suite of private communication and storage apps.
      li
        .title
          h3
            a(href="#") Signal
          span 2015
        .desc
          p Prototype work with Open Whisper Systems on Signal 2.0.
      li
        .title
          h3
            a(href="#") CoinJar
          span 2015
        .desc
          p Design &amp; communication lead for a long-running bitcoin startup company.
      li
        .title
          h3
            a(href="#") Metaverse Makeovers™
          span 2014
        .desc
          p Design &amp; branding for an augmented reality fashion label and startup in Shanghai.
      li
        .title
          h3
            a(href="#") Bitcoins.com
          span 2013
        .desc
          p One of the first truly easy-to-understand guides to cryptocurrency, commissioned by the most popular bitcoin startup at the time.

  section
    h2 Talks
    ul
      li
        .title
          h3
            a(href="#") Cryptoparty Sydney
          span 2016
        .desc
          p “Not all chat apps are created equal”
      li
        .title
          h3
            a(href="#") Secure Development Melbourne
          span 2016
        .desc
          p “Design as Information Security”
      li
        .title
          h3
            a(href="#") The Digital Designers' Toolbox
          span 2016
        .desc
          p “Nervous Design: Building Trust Into Interfaces”
      li
        .title
          h3
            a(href="#") Pause Fest
          span 2015
        .desc
          p “New Models for Online Trust”

  section
    h2 Elsewhere
    p
      a(href="#") GitHub
      |&nbsp;/&nbsp;
      a(href="#") Photography
      |&nbsp;/&nbsp;
      a(href="#") Research

