.overview
  section
    h2 Projects
    ul
      li
        .title
          h3
            a(href="project/keyp/") Keyp
          span WIP
        .desc
          p A lightweight, intuitive and private writing tool.
      li
        .title
          h3
            a(href="project/choui/") Choui
          span WIP
        .desc
          p Ongoing collection of UI components for the Choo framework.
      li
        .title
          h3
            a(href="project/spideroak/") SpiderOak.com
          span 2017
        .desc
          p Design leadership for one of the world's most trusted encryption providers.
      li
        .title
          h3
            a(href="project/semaphor/") Semaphor
          span 2016
        .title
          h3
            a(href="project/encryptr/") Encryptr
          span 2016
        .title
          h3
            a(href="project/kloak/") Kloak
          span 2015
        .desc
          p Design responsibility for SpiderOak's suite of private communication and storage apps.
      li
        .title
          h3
            a(href="project/signal/") Signal
          span 2015
        .desc
          p Research project with Open Whisper Systems on a popular encrypted messenger app.
      li
        .title
          h3
            a(href="project/coinjar/") CoinJar
          span 2015
        .desc
          p Design leadership for a successful cryptocurrency startup.
      li
        .title
          h3
            a(href="project/metaverse/") Metaverse Makeovers™
          span 2014
        .desc
          p Design &amp; branding for an Shanghai-based augmented reality fashion label and startup.
      li
        .title
          h3
            a(href="project/bitcoins/") Bitcoins.com
          span 2013
        .desc
          p One of the first truly easy-to-understand guides to cryptocurrency, commissioned by the most popular bitcoin startup at the time.

  section
    h2 Talks
    ul
      li
        .title
          h3
            a(href="#") Cryptoparty Sydney
          span 2016
        .desc
          p “Not all chat apps are created equal”
      li
        .title
          h3
            a(href="#") Secure Development Melbourne
          span 2016
        .desc
          p “Design as Information Security”
      li
        .title
          h3
            a(href="https://vimeo.com/160794578") SpiderOak Video
          span 2016
        .desc
          p “Take Back Your Privacy”

      li
        .title
          h3
            a(href="#") The Digital Designers' Toolbox
          span 2016
        .desc
          p “Nervous Design: Building Trust Into Interfaces”
      li
        .title
          h3
            a(href="#") Pause Fest
          span 2015
        .desc
          p “New Models for Online Trust”

  section(style="margin-bottom: 4rem;")
    h2 Elsewhere
    p
      a(href="https://github.com/shibacomputer" target="_blank") GitHub
      |&nbsp;/&nbsp;
      a(href="https://twitter.com/helveticade" target="_blank") Twitter
      |&nbsp;/&nbsp;
      a(href="https://pix.shiba.computer" target="_blank") Photography
      |&nbsp;/&nbsp;
      a(href="https://are.na/shiba-computer/" target="_blank") Research

