.overview
  section
    h2 Projects
    ul
      li
        .title
          h3
            a(href="#") Keyp
          span WIP
        .desc
          p
      li
        .title
          h3
            a(href="#") Choui
          span WIP
        .desc
          p
      li
        .title
          h3
            a(href="#") SpiderOak.com
          span 2017
        .desc
          p
      li
        .title
          h3
            a(href="#") Semaphor
          span 2016
        .title
          h3
            a(href="#") Encryptr
          span 2016
        .title
          h3
            a(href="#") Kloak
          span 2015
        .desc
          p
      li
        .title
          h3
            a(href="#") Signal
          span 2015
        .desc
          p
      li
        .title
          h3
            a(href="#") CoinJar
          span 2015
        .desc
          p
      li
        .title
          h3
            a(href="#") Metaverse Makeovers™
          span 2014
        .desc
          p
      li
        .title
          h3
            a(href="#") Bitcoins.com
          span 2014
        .desc
          p

  section
    h2 Talks
    ul
      li
        .title
          h3
            a(href="#") Cryptoparty Sydney
          span 2016
        .desc
          p Not all chat apps are created equal
      li
        .title
          h3
            a(href="#") Secure Development Melbourne
          span 2016
        .desc
          p Design as Infosec
      li
        .title
          h3
            a(href="#") The Digital Designers' Toolbox
          span 2016
        .desc
          p Nervous Design - Building Trust Into Interfaces
      li
        .title
          h3
            a(href="#") Pause Fest
          span 2015
        .desc
          p New Models for Trust

  section
    h2 Talks
