footer(uiContact)
  div(uiWindow="small magenta")
    a(uiBox="small" uiIconLink="email" href="mailto:#{ contacts.email }") E-mail
  div(uiWindow="small teal")
    a(uiBox="small" uiIconLink="tel" href="tel://#{ contacts.tel }") Signal
  div(uiWindow="small lightBlue")
    a(uiBox="small" uiIconLink="twitter" href="https://twitter.com/@helveticade") Twitter
  div(uiWindow="small yellow")
    a(uiBox="small" uiIconLink="key" href="/key.txt") PGP key
