header
  a(href="/")
    img(src="/img/sc-logo.svg")

  h1
    a(href="/") CADE
  p Design and product direction
  p for an emerging post-secure world.

  p(style="margin-top: 1rem;")
    a(href="mailto:cade@shiba.computer") Email
    |&nbsp;/&nbsp;
    a(href="/key.txt") PGP Key
