meta(charset='utf-8')
title #{ meta.title }
base(href="/")
meta(name='description' content='#{meta.desc}')
meta(name='robots' content='index, follow, noodp')

meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
link(rel='stylesheet' href='/assets/styles/cade.css')
link(rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico")
