@import '_utils/reset';

@import '_type/define';
$NovelMono: NovelMonoPro, Chicago, Monaco, monospace;

body {
  background-color: #F5F5F5;
}

h1 {
  font-size: 24px;
  margin-bottom: 1em;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

a, a:focus, a:visited, a:active, label, label:hover {
  transition: background-color 0.05s, color 0.2s, text-decoration 0.2s;
  color: #2700E6;
  text-decoration: underline;
}

a:hover, label:hover {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

header {
  height: 100vh;
  display: block;
  font-family: $NovelMono;
  font-size: 13px;
  line-height: 1.5;
  color: #484848;
  position: relative;
  letter-spacing: -0.01em;
  z-index: 10;
  display: flex;
  flex-direction: row;

  .hello {
    min-width: 24em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F5F5F5;
  }
  .title {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .image {
    background-size: cover;
    background-position: bottom;
    width: 50vw;
    height: 100vh;
    position: fixed;
  }
  .title, .contact, .selected-work {
    width: 75%;
    max-width: 32em;
  }

  .selected-work {
    border-top: 1px solid #AFAFAF;
    padding-top: 1.5em;
  }

  .contact {
    margin-top: 2rem;
  }
}

@media all and (max-width: 768px) {
  .hello {
    width: 100vw;
  }
  .image {
    display: none;
  }
}

@media all and (min-width: 769px) {
  .hello {
    width: 50vw;
  }
  .image {
    background: url(/assets/img/hello.jpg) no-repeat;
  }
}

@media all and (min-height: 500px) {
  header {
    height: auto;
    .hello {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title {
      padding: 0;
    }
  }
}
