// Attribute Modules.
@mixin ui($attr, $value: "") {
  @extend [ui-#{$attr}];
  $string: $value;
  $continue: true;
  @while $continue {
    $next-space: str-index($string, ' ');
    @if type-of($next-space) == number {
      $next-word: str-slice($string, 1, $next-space - 1);
      $string: str-slice($string, $next-space + 1);
    }
    @else {
      $next-word: $string;
      $continue: false;
    }
    @extend [ui-#{$attr}~="#{$next-word}"];
  }
}
