// Type
@font-face {
  font-family: "NovelMono";
  src: url("../type/237E72_19_0.eot");
  src: url("../type/237E72_19_0.eot?#iefix") format("embedded-opentype"),
       url("../type/237E72_19_0.woff") format("woff"),
       url("../type/237E72_19_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NovelMono";
  src: url("../type/237E72_18_0.eot");
  src: url("../type/237E72_18_0.eot?#iefix") format("embedded-opentype"),
       url("../type/237E72_18_0.woff") format("woff"),
       url("../type/237E72_18_0.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NovelMono";
  src: url("../type/237E72_1D_0.eot");
  src: url("../type/237E72_1D_0.eot?#iefix") format("embedded-opentype"),
       url("../type/237E72_1D_0.woff") format("woff"),
       url("../type/237E72_1D_0.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "NovelMono";
  src: url("../type/237E72_1A_0.eot");
  src: url("../type/237E72_1A_0.eot?#iefix") format("embedded-opentype"),
       url("../type/237E72_1A_0.woff") format("woff"),
       url("../type/237E72_1A_0.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "NovelMono";
  src: url("../type/237E72_1B_0.eot");
  src: url("../type/237E72_1B_0.eot?#iefix") format("embedded-opentype"),
       url("../type/237E72_1B_0.woff") format("woff"),
       url("../type/237E72_1B_0.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "NovelMono";
  src: url("../type/237E72_1C_0.eot");
  src: url("../type/237E72_1C_0.eot?#iefix") format("embedded-opentype"),
       url("../type/237E72_1C_0.woff") format("woff"),
       url("../type/237E72_1C_0.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

$NovelMono: NovelMono, Monaco, monospace;
